/* @import url(https://fonts.google.com/specimen/Outfit); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



body{
    
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
     font-family: "Outfit";
   
}
.card{
    
    width: 290px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    
}
.content{
    padding: 0 35px;
    text-align: center;
    color:  hsl(218, 44%, 22%);
    

}

img{
    border-radius: 28px;
    padding: 15px;

}

h1{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    justify-content: center;
    opacity: 0.9;

    
}
p{
    padding-bottom: 1px;
    font-size: 13px;
    color:   hsl(216, 15%, 48%);
    font-weight: 400;
    margin-bottom: 40px;
    opacity: 0.7;
    
}